{%extends 'base.html'%}
{% load bootstrap4%}
{%block content%}
  <div class="dashboard">
    <section id='dashboard'>
      <header>
        <div class="jumbo">
            <h2>Dashboard</h2>
            <hr id="default" class="bg-danger">
        </div>

      </header>
      <div class="account actives">
        <p><a>  <i class="fas fa-user-plus"></i>Add User</a></p>
      </div>

      <div  id="two" class="asset">
        <p><a> <i class="fas fa-puzzle-piece"></i> Asign Assets</a></p>
      </div>
      <div id="three" class="asset">
        <p><a <i class="far fa-bell"></i>Notifactions</a></p>
      </div>
    </section>



  </div>
<div class="phase" style="padding-top:4.1em;">
  <div class="container">
    <div class="row">
      <div   id ='account' class="col-md-12">
        <h1>accounts</h1>
        {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close"  data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
        <form class="" action="" method="post">
          {%csrf_token%}
          {%bootstrap_form form%}
          <button class="btn btn-info btn-sm" type="submit" name="button">Add user</button>
        </form>

      </div>

    </div>
    <div class="row">
      <div id="asset" class="col-md-12">
        <h2>Assets</h2>
        <div class="master_class">
          <div class="row">
            <div class="col-md-6 right">
              <div class="assign">
                <section>
                  <header>
                    <h3>Assign new Item to employees </h3>
                  </header>
                </section>
                <div id="message" class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    Data saved succefully
                </div>
                <div id="message_err" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    An Error Occured
                </div>


                        <form id="assest" class="form-group" action="{%url 'asset'%}" method="post">
                            {%csrf_token%}
                          <select name='value' class="form-control" name="">
                            {%for names in users%}
                            <option   value="{{names.id}}">{{names.username}}</option>
                              {%endfor%}
                          </select>
                          {%bootstrap_form user_form%}
                          <button class="btn btn-dark btn-sm" type="submit" name="button">Assign Asset</button>

                        </form>

              </div>

            </div>
            <div  class="col-md-6 left">
              <div align='center' class="">
                <p>All list for assest against employees will show here. Click to show all the available list</p>

              </div>
              <div class="list">
              </div>
              <section align='center'>
                <a btn-data class="btn btn-info btn-sm">View Asset lists</a>

              </section>

            </div>


          </div>

        </div>
      </div>



    </div>
    <div class="row">
      <div class="col-md-12">
        <section>
          <header>
            <h3>Notifactions</h3>

          </header>
        </section>
        <div class="alert alert-info">
          New! <p id="love"></p>
        </div>

        <section>
          <ul id='notification'  class="group-list bg-dark">
            {%for noti in notifications%}
            <li class="list-group-item not bg-default">{{noti.message}} on {{noti.created_at}} <span id="{{noti.id}}" class="btn btn-success btn-sm mark">Mark as Read</span></li>
            {%endfor%}

          </ul>
        </section>

      </div>

    </div>
  </div>
</div>

{%endblock%}
