{%extends 'base.html'%}

{%block content%}
<div class="container ">

<div class="row">
  <div class="col-md-6">
    <div style="margin-top:5em" class="home">
      <section>
        <header>
          <h5>Security Accounts</h5>
        </header>
        {%if user.is_authenticated%}
        {{user}}
        <p>{{user.email}}</p>
        <p>Manage accounts <a href="{%url 'logout'%}">Logout</a> </p>
        <p>Profile <a href="{%url 'profile'%}">Update your profile</a> </p>
        {%if user.is_superuser%}
          {{user}}
          <p>Manage <a href="{%url 'dashboard'%}">Accounts</a> </p>
        {%endif%}
        {%else%}
        <p>Manage accounts <a href="{%url 'signup'%}">SignUp</a> </p>
        <p>Manage accounts <a href="{%url 'login'%}">Login</a> </p>
        {%endif%}


        <div class="card">
            <div id="bog" class="card-header">

            </div>
            <div class="card-body">
              <p>Assest management system</p>
            </div>
            <div class="footer">
              <p>2019/07/01</p>
            </div>
        </div>
      </section>

    </div>
  </div>
</div>

</div>
{%endblock%}
